<h1>Ökologischer Fußabdruck</h1>

<mat-tab-group>
    <mat-tab label="Auto">
        <!--   <mat-radio-group [(ngModel)]="co2prokm" aria-label="Select an option" (change)="auto()">
            <p>
                <mat-radio-button value="26.5">Diesel</mat-radio-button>
            </p>
            <p>
                <mat-radio-button value="23.8">Benzin</mat-radio-button>
            </p>
            <p>
                <mat-radio-button value="0">Elektrisch</mat-radio-button>
            </p>
        </mat-radio-group>
    <p>
        <mat-form-field class="example-full-width">
            <mat-label>Strecke</mat-label>
            <input [(ngModel)]="km" matInput placeholder="..." type="number" step="10" change="Auto()" min="0"
                (change)="auto()">
        </mat-form-field>km 
    </p>
    <p>
        <mat-form-field class="example-full-width">
            <mat-label>verbrauch</mat-label>
            <input [(ngModel)]="verbrauch" matInput placeholder="..." type="number" step="0.1" (change)="auto()">
        </mat-form-field>l/100km
    </p> -->
        <app-auto></app-auto>

    </mat-tab>
    <mat-tab label="Strom">
        <mat-radio-group [(ngModel)]="co2prokwh" aria-label="Select an option" (change)=strom()>
            <p>
                <mat-radio-button value="400">Normal</mat-radio-button>
            </p>
            <mat-radio-button value="20">Öko</mat-radio-button>
        </mat-radio-group>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Kwh</mat-label>
                <input [(ngModel)]="kwh" matInput placeholder="..." type="number" (change)=strom()>
            </mat-form-field>

        </p>
        {{kwh*co2prokwh + "g"}}
    </mat-tab>
    <mat-tab label="Wasser">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Leitungswasser</mat-label>
                <input [(ngModel)]="leit_h2o_ver" matInput placeholder="..." type="number" step="10" (change)=wasser()>
            </mat-form-field>l
        </p>
        {{leit_h2o_ver*co2prolleitung+g}}
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Flaschenwasser</mat-label>
                <input [(ngModel)]="fla_h2o_ver" matInput placeholder="..." type="number" step="10" (change)=wasser()>
            </mat-form-field>l
        </p>{{fla_h2o_ver*co2prolflasche+"g"}}
    </mat-tab>
    <mat-tab label="Urlaub">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Flüge</mat-label>
                <input [(ngModel)]="flug_km" matInput placeholder="..." type="number" step="10">
            </mat-form-field>km
        </p>{{flug_km*co2prokmflug+"g"}}

    </mat-tab>
    <mat-tab label="Internet">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Internet</mat-label>
                <input [(ngModel)]="internet_gbit" matInput placeholder="..." type="number" step="1">
            </mat-form-field>Gbyt
        </p>
        {{internet_gbit * g_pro_gbit + g}}

    </mat-tab>
    <mat-tab label="Heizung">


        <mat-radio-group [(ngModel)]="heizart" aria-label="Select an option" (change)=heizung()>
            <p>
                <mat-radio-button value=co2prom3holz>Holz</mat-radio-button>
            </p>
            <p>
                <mat-radio-button value=co2prolöl>Öl</mat-radio-button>
            </p>
            <p>
                <mat-radio-button value=co2prokwh>Strom</mat-radio-button>
            </p>
            <p>
                <mat-radio-button value="40">Photovoltaik</mat-radio-button>
            </p>
        </mat-radio-group>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Menge</mat-label>
                <input [(ngModel)]="heitzmenge" matInput placeholder="..." type="number" (change)=heizung()>
            </mat-form-field>
            {{mengeneinheitheizung}}

        </p>
{{g}}g






    </mat-tab>
    <mat-tab label="Müll"> Content </mat-tab>
    <mat-tab label="Ernährung"> Content </mat-tab>

    <mat-tab label="Gesamt">



        {{(km*verbrauch*co2prokm)+(kwh*co2prokwh)+(fla_h2o_ver*co2prolflasche)+ (leit_h2o_ver*co2prolleitung) + (flug_km*co2prokmflug) +"g"}}

    </mat-tab>
</mat-tab-group>