<h1>Ökologischer Fußabdruck</h1>


<mat-form-field appearance="fill">
    <mat-label>Zeitraum</mat-label>
    <select matNativeControl required>
        <option value="1 Jahr">1 Jahr</option>
        <option value="1 Monat">1 Monat</option>
        <option value="1 Woche">1 Woche</option>
        <option value="1 Tag">1 Tag</option>
    </select>
</mat-form-field>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label >Personen im Haushalt</mat-label>
    <input  [(ngModel)]="Personen_im_Haushalt" matInput placeholder="..." type="number" (change)=strom() min="1" step="1"
        >
</mat-form-field>
<mat-tab-group>

    <mat-tab label="Auto">
        <div *ngFor="let item of aut">
            <app-auto></app-auto>
            <h2></h2>
        </div>
        <button mat-stroked-button (click)="authinzu()">Fahrzeug Hinzufügen</button>

    </mat-tab>
    <mat-tab label="Strom">
        <mat-radio-group [(ngModel)]="co2prokwh" aria-label="Select an option" (change)=strom()>
            <p>
                <mat-radio-button value="401">Normal</mat-radio-button>
            </p>
            <mat-radio-button value="34">Öko</mat-radio-button>
        </mat-radio-group>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Stromverbrauch</mat-label>
                <input [(ngModel)]="kwh" matInput placeholder="..." type="number" (change)=strom() min="0">
            </mat-form-field>Kwh
        </p>
        CO2 im Haushalt: {{kwh*co2prokwh }}g
        <p>
            CO2 pro Person: {{kwh*co2prokwh /Personen_im_Haushalt}}g
        </p>
    </mat-tab>
    <mat-tab label="Wasser">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Leitungswasser</mat-label>
                <input [(ngModel)]="leit_h2o_ver" matInput placeholder="..." type="number" step="10" (change)=wasser()>
            </mat-form-field>l
        </p>
        CO2 im Haushalt: {{leit_h2o_ver*co2prolleitung }}g
        <p>
            CO2 pro Person: {{leit_h2o_ver*co2prolleitung /Personen_im_Haushalt}}g
        </p>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Flaschenwasser</mat-label>
                <input [(ngModel)]="fla_h2o_ver" matInput placeholder="..." type="number" step="10" (change)=wasser()>
            </mat-form-field>l
        </p>CO2: {{fla_h2o_ver*co2prolflasche }}g
    </mat-tab>
    <mat-tab label="Urlaub">


        Flüge:
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Strecke</mat-label>
                <input [(ngModel)]="flug_km" matInput placeholder="..." type="number" step="10">
            </mat-form-field>km
        </p>CO2: {{flug_km*co2prokmflug }}g

        <h2></h2>

        <p>Bahn: </p><p>
            <mat-form-field class="example-full-width">
                <mat-label>Strecke</mat-label>
                <input [(ngModel)]="Bahn_km" matInput placeholder="..." type="number" step="10">
            </mat-form-field>km
        </p>CO2: {{Bahn_km*co2prokmBahn }}g
        <p>
        <h2> </h2>
        Reisebus:
        <p>
        <mat-form-field class="example-full-width">
            <mat-label>Strecke</mat-label>
            <input [(ngModel)]="Rbus_km" matInput placeholder="..." type="number" step="10">
        </mat-form-field>km
    </p>
        <p>
            CO2: {{Rbus_km*Reisebusco2 }}g
        </p>
        <h2></h2>
        Auto:
        <app-auto></app-auto>

    </mat-tab>
    <mat-tab label="Internet">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Internet</mat-label>
                <input [(ngModel)]="internet_gbit" matInput placeholder="..." type="number" step="1">
            </mat-form-field>Gbyt
        </p>
        CO2: {{internet_gbit * g_pro_gbit }}g

    </mat-tab>

    <mat-tab label="Heizung">


        <mat-radio-group [(ngModel)]="heizart" aria-label="Select an option" (change)=heizung()>
            <p>
                <mat-radio-button value=co2prom3holz>Holz</mat-radio-button>
            </p>
            <p>
                <mat-radio-button value=co2prolöl>Öl</mat-radio-button>
            </p>
            <p>
                <mat-radio-button value=Co2prom3gas>Gas</mat-radio-button>
            </p>
            <p>
                <mat-radio-button value=co2prokwh>Strom</mat-radio-button>
            </p>

            <p>
                <mat-radio-button value="40">Photovoltaik</mat-radio-button>
            </p>
        </mat-radio-group>
        <p *ngIf="heizart != 40">
            <mat-form-field class="example-full-width">
                <mat-label>Menge</mat-label>
                <input type=menge [(ngModel)]="heitzmenge" matInput placeholder="..." type="number" (change)=heizung()
                    min="0">
            </mat-form-field>
            {{mengeneinheitheizung}}
        </p>
        <p>
            CO2 im Haushalt: {{heitzmenge*heizart}}g
        </p>
        CO2 pro Person: {{heitzmenge*heizart /Personen_im_Haushalt}}g
    </mat-tab>
    <!-- <mat-tab label="Müll"> Content </mat-tab>-->

    <mat-tab label="Ernährung">


    </mat-tab>

    <mat-tab label="Gesamt">





    </mat-tab>
    <!--</mat-tab-group> -->